services:
  - type: web
    name: quiz-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: BOT_TOKEN
        value: "8450032539:AAEBA42yybm20a9OS1vrUhI7pRh0u0tPuzg"
